$firstFont: 'Fira Sans', sans-serif;
$secondFont: 'Circe', Arial;
$secondFontBold: 'Circe Bold', Arial;
$fourthFont: 'Malayalam MN', Tahoma;

// Colors
$white: #FFFFFF;
$black: #000000;
$burgundy: #800020;
$burgundy-30: #9c0027;
$burgundy-60: #910024;
$gray-10: #cfcfcf;
$gray-20: #8a8a8a;
$gray-30: #707070;
$gray-50: #404040;
$gold: #FFD700;
$gold-60: #e3bf00;

// Layouts
$min-xxxl: 1900px;
$max-xxxl: 1899px;
