.product-card {
  font-family: $firstFont;
  border: 2px solid $burgundy;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  &:hover {
    .product-card__rating {
      @media (min-width: breakpoint-min(xl)) {
        opacity: 1;
      }
    }

    @media (min-width: breakpoint-min(xl)) {
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.5);
    }
  }

  &__name {
    font-family: $secondFontBold;
    color: $burgundy;
    font-size: 17px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    &:hover {
      @media (min-width: breakpoint-min(xl)) {
        color: $burgundy-30;
      }
    }
    &:active {
      color: $burgundy-60;
    }

    @media (min-width: breakpoint-min(xl)) {
      font-size: 18px;
      line-height: 24px;
      height: 48px;
    }

    @media (min-width: breakpoint-min(xxl)) {
      font-size: 20px;
      line-height: 28px;
      height: 56px;
    }
  }

  &__price {
    font-family: $secondFont;
    font-size: 18px;

    span {
      font-family: $secondFontBold;
      font-weight: 700;
      color: $burgundy;
      font-size: 20px;
      line-height: 28px;

      @media (min-width: breakpoint-min(xl)) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    @media (min-width: breakpoint-min(xl)) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__buy {
    font-family: $secondFontBold;
    font-size: 18px;
    line-height: 24px;
    background-color: $burgundy;
    color: $white;
    border-radius: 12px;
    padding: 9px 22px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      color: $white;
      background-color: $burgundy-30;
    }

    @media (max-width: breakpoint-max(xl)) {
      width: 100%;
      font-size: 20px;
      line-height: 24px;
    }

    @media (min-width: breakpoint-min(xl)) {
      padding: 12px 26px;
      min-width: 45%;
    }
  }

  &__sale {
    a {
      color: $gold-60;
      &:hover {
        @media (min-width: breakpoint-min(xl)) {
          color: $gold;
        }
      }
    }
  }

  &__rating {
    top: 0;
    right: 0;
    z-index: 5;
    background-color: $burgundy;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 8px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }

  &__rating-value {
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: $secondFontBold;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    background-color: $gray-05;
    color: $gray-50;
    border-radius: 10px;

    @media (min-width: breakpoint-min(xl)) {
      font-size: 17px;
      line-height: 18px;
    }
  }

  &__rating-minus, &__rating-plus {
    font-size: 24px;
    line-height: 24px;
    border: 2px solid $gray-10;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  &__rating-plus {
    color: $gold-60;
    border-color: $gold-60;
    &:hover {
      @media (min-width: breakpoint-min(xl)) {
        color: $gold;
      }
    }
    &:active {
      background-color: $gold-60;
      color: $gray-50;
    }
  }

  &__rating-minus {
    color: $gray-10;
    &:hover {
      @media (min-width: breakpoint-min(xl)) {
        color: $white;
      }
    }
    &:active {
      background-color: $gray-10;
      color: $gray-50;
    }
  }

  &__img {
    height: 190px;

    img {
      height: 100%;
      width: auto;
      max-height: 190px;
      max-width: 100%;
      border-radius: 8px;

      @media (min-width: breakpoint-min(xxl)) {
        max-height: 280px;
      }
    }

    @media (min-width: breakpoint-min(xxl)) {
      height: 280px;
    }
  }

  &__add {
    color: $gray-20;
  }

  @media (min-width: breakpoint-min(xl)) {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}